<h3> Edit the list name</h3>

<%= form_for @list do |list| %>
  <%= list.label :edit_name %>
  <%= list.text_field :name %>
  <button>save</button>
<% end %>

<!--<form action="<%= list_path %>" method="POST">
  <input name="hidden" name="_method" method="PATCH">
  <input name="name" placeholder="List Name">
  <button>save</button>
</form>-->
