<h3>This is your <%= @list.name %> list </h3>

<ul>
<% @list.items.each do |item| %>
  <li><%= link_to item.description, specific_item_path(item) %></li>
<% end %>
</ul>

<button><%= link_to "Add Item", new_item_path(@list) %></button> 

