<h3>This is your <%= @list.name %> list </h3>

<ul>
<% @list.items.each do |item| %>
  <li><%= item.description %></li>
<% end %>
</ul>

<button><%= link_to "Add Item", new_item_path(@list) %></button> 

